html{

  --vueberg-font-size: 14px;
  --vueberg-placeholder-color: #8C8C8C;
  --vueberg-color-primary: #1890FF;
  --vueberg-color-muted: #8C8C8C;
  --vueberg-color-secondary: #F5F5F5;



  --vueberg-block-default-width: 600px;
  --vueberg-block-wide-width: 800px;
  --vueberg-block-full-width: none;
  --vueberg-block-full-width-padding-right: 0;
  --vueberg-block-full-width-padding-left: 0;

  
  --vueberg-block-padding-right: 0.5rem;
  --vueberg-block-padding-left: 0.5rem;
  --vueberg-border-radius: 5px;

  --vueberg-tooltip-max-width: 150px;
  --vueberg-tooltip-font-size: 12px;
  --vueberg-tooltip-padding: 5px 10px;
  --vueberg-tooltip-color: #fff;
  --vueberg-tooltip-background: rgba(0, 0, 0, 0.8);
  --vueberg-tooltip-z-index: 999;
  
  --vueberg-dropdown-background: #fff;
  --vueberg-dropdown-z-index: 10;
  --vueberg-dropdown-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
  --vueberg-dropdown-max-width: 250px;
  --vueberg-dropdown-max-height: 400px;
  --vueberg-dropdown-button-border-bottom: 1px solid #595959;
  --vueberg-dropdown-border: 1px solid #595959;
  --vueberg-dropdown-padding: 8px;

  --vueberg-button-padding: 2px;
  --vueberg-button-text-color: #434343;
  --vueberg-button-icon-color: #1F1F1F;
  --vueberg-button-active-background: #1F1F1F;
  --vueberg-button-active-icon-color: #fff;
  --vueberg-button-active-text-color: #fff;

  --vueberg-button-size: 30px;
  --vueberg-button-size-md: 35px;
  --vueberg-button-size-lg: 40px;
  --vueberg-button-size-xl: 45px;
  --vueberg-button-svg-size: 25px;
  --vueberg-button-svg-size-md: 30px;
  --vueberg-button-svg-size-lg: 35px;
  --vueberg-button-svg-size-xl: 40px;

  --vueberg-button-primary-color: #fff;
  --vueberg-button-text-only-padding: 8px 15px 8px 15px;
  --vueberg-button-text-padding: 8px 15px 8px 5px;
  --vueberg-button-text-svg-margin-right: 8px;
  --vueberg-button-text-svg-size: 20px;
  --vueberg-button-secondary-background: #F5F5F5;


  --vueberg-toolbar-max-width: 600px;
  --vueberg-toolbar-background: #fff;
  --vueberg-toolbar-border-color: #595959;
  --vueberg-toolbar-padding: 6px;
  --vueberg-toolbar-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
  --vueberg-toolbar-separator-color: #D9D9D9;
  --vueberg-toolbar-gap: 10px;

  --vueberg-slash-menu-background: #fff;
  --vueberg-slash-menu-border-color: #595959;
  --vueberg-slash-menu-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
  --vueberg-slash-menu-max-width: 280px;
  --vueberg-slash-menu-min-width: 200px;
  --vueberg-slash-menu-padding: 7px 7px 7px 7px;
  // --vueberg-slash-menu-body-max-height: 200px;

  --vueberg-modal-z-index: 99999;
  --vueberg-modal-background: #fff;
  --vueberg-modal-border-color: #595959;
  --vueberg-modal-max-width: 420px;
  --vueberg-modal-max-width-md: 600px;
  --vueberg-modal-max-width-lg: 900px;
  --vueberg-modal-body-padding: 10px 15px;
  --vueberg-modal-header-padding: 10px 15px;
  --vueberg-modal-header-border-bottom: #D9D9D9;
  --vueberg-modal-title-font-size: 16px;
  --vueberg-modal-backdrop-background: rgba(62, 62, 62, 0.129);




  --vueberg-input-height: 40px;
  --vueberg-input-border-color: #595959;
  --vueberg-input-padding: 5px 10px;

  --vueberg-hr-gap: 1rem;
  --vueberg-hr-gap-md: 2rem;
  --vueberg-hr-gap-lg: 3rem;


  --vueberg-block-item-icon-size: 30px;
  --vueberg-block-item-icon-background:  #F5F5F5;
  --vueberg-block-item-title-size: 12px;
  --vueberg-block-item-description-size: 10px;
  --vueberg-block-item-padding: 5px;
  

}


.ProseMirror .column-block {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 24px;
  padding: 8px 0;
}

.ProseMirror .column {
  overflow: auto;
  border: 1px gray dashed;
  border-radius: 8px;
  padding: 8px;
  margin: -8px;
}


.vueberg {

  & *{
    box-sizing: border-box;
  }
  // Access style
  
  &-customblock{
    position: relative;
    margin-bottom: 1rem;

    &--outline{
      & .vueberg-customblock-body{
        border: 2px solid var(--vueberg-color-secondary);
        border-radius: var(--vueberg-border-radius);
      }
    }
    &--has-header{
      margin-top: 35px;
    }


    &:hover{
      & .vueberg-customblock-header-mode{
        color: var(--vueberg-color-primary);
      }
    }

    &-body{
      padding-left: var(--vueberg-block-padding-left);
      padding-right: var(--vueberg-block-padding-right);

      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &-header{
      // position: absolute;
      width: 100%;
      padding-left: calc(var(--vueberg-block-padding-left) + 10px);
      padding-right: var(--vueberg-block-padding-right);

      // padding-right: 0;
      // border-right: 2px solid var(--vueberg-color-secondary);
      // border-left: 2px solid var(--vueberg-color-secondary);

      // height: 25px;
      display: flex;
      // top: -25px;
      // left: 0;
      justify-content: space-between;;

      &-title{
        font-size: 14px;
        background: var(--vueberg-color-secondary);
        border-top-left-radius: var(--vueberg-border-radius);
        border-top-right-radius: var(--vueberg-border-radius);

        padding: 0 10px 0 5px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;

        &-icon{
          display: inline-block;
          margin-right: 3px;
          & svg{
            transform: translateY(2px);
            max-width: 15px;
            max-height: 15px;
          }
        }
      }
      &-mode{
        font-size: 12px;
        cursor: pointer;
        color: var(--vueberg-color-muted);
        background: var(--vueberg-color-secondary);
        border-top-left-radius: var(--vueberg-border-radius);
        border-top-right-radius: var(--vueberg-border-radius);
        padding: 5px;

        & div{
          height: 10px;
          // margin-top: 4px;
        }
        
      }
    }
  }

  & hr{
    // height: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: var(--vueberg-hr-gap);
    padding-bottom: var(--vueberg-hr-gap);
    border: 0;
    // border-width: 0 0 1px 0;
    position: relative;

    &[data-variant="medium"] {
      padding-top: var(--vueberg-hr-gap-md);
      padding-bottom: var(--vueberg-hr-gap-md);
    }

    &[data-variant="large"] {
      padding-top: var(--vueberg-hr-gap-lg);
      padding-bottom: var(--vueberg-hr-gap-lg);
    }

    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: var(--vueberg-color-muted);
    }
  }

  & p[data-variant="large"] {
    font-size: 1.5rem; 
  }

  &-youtube-figure{
    background-color: var(--vueberg-color-secondary);
    // padding-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: calc(var(--vueberg-border-radius) * 2);
    margin: 0 0 2rem 0;

    &:not([data-block-width="full"]){
      // padding-top: 1rem;

    }

    &-container{
      position: relative;
      padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
      height: 0;
      overflow: hidden;
      max-width: 100%;
      background: var(--vueberg-color-secondary); 
      &:before{
        position: absolute;
        // z-index: 999;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
        z-index: 2;
      }
      & iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        z-index: 1;
      }
    }

  }

  & .ProseMirror[contenteditable=false]{
    & .vueberg-youtube-figure-container:before{
      display: none;
    }
  }
  

  // Toolkit style 

  & [data-tooltip] {
    position: relative;

    &:hover::after {
      transform:  translateX(-50%) translateY(0);
      opacity: 1;
    }

    &::after {
      content: attr(data-tooltip);
      width: max-content;
      max-width: var(--vueberg-tooltip-max-width);
      transition: all 0.3s;
      font-size: var(--vueberg-tooltip-font-size);
      padding:var(--vueberg-tooltip-padding);
      color: var(--vueberg-tooltip-color);
      background: var(--vueberg-tooltip-background);
      border-radius: var(--vueberg-border-radius); 
      position: absolute;
      top: calc(100% + 15px);
      left: 50%;
      transform: translateX(-50%) translateY(-10px);
      opacity: 0;
      z-index: var(--vueberg-tooltip-z-index); 
      pointer-events: none;
    }
  }

  & [data-block-width="wide"] {
    max-width: var(--vueberg-block-wide-width) !important;
  }

  & [data-block-width="full"] {
    max-width: var(--vueberg-block-full-width)!important;
    padding-left: var(--vueberg-block-full-width-padding-left) !important;
    padding-right: var(--vueberg-block-full-width-padding-right) !important;

    &.vueberg-customblock{
      & .vueberg-customblock-body{
        padding-left: var(--vueberg-block-full-width-padding-left) ;
        padding-right: var(--vueberg-block-full-width-padding-right) ;
        padding-top: var(--vueberg-block-full-width-padding-left) ;
        padding-bottom: var(--vueberg-block-full-width-padding-right) ;
        border: 0;
      }
    }
  }

  & [disabled] {
  }

  &-hidden{
    display: none!important;
  }

  &-menu-item {
    position: relative;

    &-dropdown {
      z-index: var(--vueberg-dropdown-z-index);
      background-color: var(--vueberg-dropdown-background);
      box-shadow: var(--vueberg-dropdown-shadow);
      display: none; 
      overflow: hidden; 
      white-space: nowrap; 
      position: absolute;
      top: calc(100% + 15px);
      max-width: var(--vueberg-dropdown-max-width);
      max-height: var(--vueberg-dropdown-max-height);
      border-radius: var(--vueberg-border-radius);
      padding: var(--vueberg-dropdown-padding);
      border: var(--vueberg-dropdown-border) ;

      &--left {
        left: 0; // left-0
      }

      &--right {
        right: 0; // right-0
      }
      &--open{
        display: block;
        overflow: auto;
      }

      & .vueberg-button{
        // height: 40px;
        // border-bottom: var(--vueberg-dropdown-button-border-bottom); 
        // border-radius: 0;

        &:last-child{
          border-bottom: 0;
        }

        &-active{
          background-color: var(--vueberg-color-secondary);
          color: var(--vueberg-button-text-color);
          font-weight: bold;
          & svg{
            color: var(--vueberg-button-text-color);
            // color: var(--vueberg-primary-olor);
          }

          &:hover{
            color:  var(--vueberg-button-active-text-color);
            background-color:  var(--vueberg-button-active-background);

            & svg{
              color:  var(--vueberg-button-active-text-color);
            }

          }
        }
      }
    }

  }
  
  &-block-item{
    display: flex;
    align-items: center;
    padding: var(--vueberg-block-item-padding);
    border-radius: var(--vueberg-border-radius);

    &--column{
      display: flex;
      flex-direction: column;
    }
    &--modal{
      display: flex;
      flex-direction: column;
      gap: 2px;
      max-width: 135px;
      width: 100%;
      &:hover,
      &:focus,
      &:active{
        & .vueberg-block-item{
          &-icon{
            color: var(--vueberg-color-primary);
          }
          &-info-title{
            color: var(--vueberg-color-primary);
          }
        }
      }
      & .vueberg-block-item{
        
        &-icon{
          margin-right: 0;
          margin-bottom: 6px;
          width: calc(var(--vueberg-block-item-icon-size) + 10px);
          height: calc(var(--vueberg-block-item-icon-size) + 10px);
          flex: 0 0calc(var(--vueberg-block-item-icon-size) + 10px);
          & svg{
            max-width: var(--vueberg-block-item-icon-size);
            max-height: var(--vueberg-block-item-icon-size);
          }
        }
        &-info{
          text-align: center;
          max-width: calc(100% - var(--vueberg-block-item-padding));
          &-title{
            line-height: 1.3;
            margin-bottom: 5px;
          }
        }
      }
    }
    &.vueberg-block-item--selected{
      background: var(--vueberg-color-secondary);
      
    }

    &.vueberg-block-item--clickable{
      cursor: pointer;
      &:hover,
      &:focus,
      &:active{
        background: var(--vueberg-color-secondary);
      }
    }

   

    &-icon{
      background: var(--vueberg-block-item-icon-background);
      width: var(--vueberg-block-item-icon-size);
      height: var(--vueberg-block-item-icon-size);
      flex: 0 0 var(--vueberg-block-item-icon-size);
      border-radius: var(--vueberg-border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      & svg{
        max-height: calc(var(--vueberg-block-item-icon-size) - 10px);
        max-width: calc(var(--vueberg-block-item-icon-size) - 10px);

      }
    }
    &-info{
      width: 100%;
      max-width: calc(100% - var(--vueberg-block-item-icon-size) - 10px);
      &-title{
        font-size: var( --vueberg-block-item-title-size);
        line-height: 1;
      }
      &-description{
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1;
        width: 100%;
        white-space: nowrap;
        color: var(--vueberg-color-muted);
        font-size: var(--vueberg-block-item-description-size);
      }
    }
  }
  
  &-button {
    display: flex;
    width: 100%;
    font-size: var(--vueberg-font-size);
    padding: var(--vueberg-button-padding);
    flex-direction: row;
    align-items: center;
    color: var(--vueberg-button-text-color);
    border-radius: var(--vueberg-border-radius);
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    height: var(--vueberg-button-size);

    &-blocks{
      font-size: 18px;
      justify-content: center;
    }

    &[disabled]{
      color: var(--vueberg-color-muted);
      pointer-events: none;
      cursor: not-allowed;

      & svg{
        color: var(--vueberg-color-muted);
      }
    }

    &:not(.vueberg-button-text){
      width: var(--vueberg-button-size);
      & svg{
        flex: 0 0 var(--vueberg-button-svg-size);
      }
    }

    &-md{
      height: var(--vueberg-button-size-md);
      &:not(.vueberg-button-text){
        width: var(--vueberg-button-size-md);
        & svg{
          flex: 0 0 var(--vueberg-button-svg-size-md);
        }
      }
    }

    &-lg{
      height: var(--vueberg-button-size-lg);
      &:not(.vueberg-button-text){
        width: var(--vueberg-button-size-lg);
        & svg{
          flex: 0 0 var(--vueberg-button-svg-size-lg);
        }
      }
    }
    &-xl{
      height: var(--vueberg-button-size-xl);
      &:not(.vueberg-button-text){
        width: var(--vueberg-button-size-xl);
        & svg{
          flex: 0 0 var(--vueberg-button-svg-size-xl);
        }
      }
    }

    & svg{
      color:var(--vueberg-button-icon-color)
    }

    &:hover {
      color: var(--vueberg-color-primary);
      & svg{
        color: var(--vueberg-color-primary);
      }
    }

    &-active {
      background: var(--vueberg-button-active-background);
      color: var(--vueberg-button-active-text-color); 
      & svg{
        color: var(--vueberg-button-active-icon-color); 
      }
      &:hover {
        & svg{
          color: var(--vueberg-button-active-icon-color);
        }
      }
    }

    &-primary{
      background: var(--vueberg-color-primary);
      color:  var(--vueberg-button-primary-color);
      & svg{
        color:  var(--vueberg-button-primary-color);
      }

      &:hover{
        color:  var(--vueberg-button-primary-color);

      }
    }
    
    &-text{

      &.vueberg-button-text-only{
        padding:  var(--vueberg-button-text-only-padding); 
      }
      &:not(.vueberg-button-text-only){
        padding:  var(--vueberg-button-text-padding); 
      }

      & svg{
        
        margin-right: var(--vueberg-button-text-svg-margin-right);
        flex: 0 0 var(--vueberg-button-text-svg-size);
      }
    }

    &-secondary{
      background: var(--vueberg-button-secondary-background);
    }

    &-group{
      display: flex;
      flex-direction: row;
      gap: 0px;

      &-separate{
        gap: 2px;
      }

      &:not(.vueberg-button-group-column):not(.vueberg-button-group-separate),
      &:not(.vueberg-button-group-separate){
        &>.vueberg-button{
          border-radius: 0;
          &:not(:last-child){
            border-right: 0;
          }
          
          &:first-child{
            border-top-left-radius: var(--vueberg-border-radius);
            border-bottom-left-radius: var(--vueberg-border-radius);
          }
          &:last-child{
            border-top-right-radius: var(--vueberg-border-radius);
            border-bottom-right-radius: var(--vueberg-border-radius);
          }
        }
        &>.vueberg-menu-item{
          &:not(:last-child)>.vueberg-button{
            border-right: 0;
          }
          &>.vueberg-button{
            border-radius: 0;
          }
          &:first-child>.vueberg-button{
            border-top-left-radius: var(--vueberg-border-radius);
            border-bottom-left-radius: var(--vueberg-border-radius);
          }
          &:last-child>.vueberg-button{
            border-top-right-radius: var(--vueberg-border-radius);
            border-bottom-right-radius: var(--vueberg-border-radius);
          }
        }
      }

      &-column{
        flex-direction: column!important;
        &>.vueberg-button{
          border-radius: 0;
          &:not(:last-child){
            border-bottom: 0;
          }
          
          &:first-child{
            border-top-left-radius: var(--vueberg-border-radius);
            border-top-right-radius: var(--vueberg-border-radius);
          }
          &:last-child{
            border-bottom-right-radius: var(--vueberg-border-radius);
            border-bottom-left-radius: var(--vueberg-border-radius);

          }
        }
        &>.vueberg-menu-item{
          &:not(:last-child)>.vueberg-button{
            border-bottom: 0;
          }
          &>.vueberg-button{
            border-radius: 0;
          }
          &:first-child>.vueberg-button{
            border-top-left-radius: var(--vueberg-border-radius);
            border-top-right-radius: var(--vueberg-border-radius);

          }
          &:last-child>.vueberg-button{
            border-bottom-left-radius: var(--vueberg-border-radius);
            border-bottom-right-radius: var(--vueberg-border-radius);
          }
        }

      }
    }
  }
  
  &-bubble-menu {
    &-hidden {
      opacity: 0 !important;
      pointer-events: 0 !important;
    }
  }

  &-toolbar {
    font-size: var(--vueberg-font-size);
    background: var(--vueberg-toolbar-background);
    max-width: var(--vueberg-toolbar-max-width);
    display: flex;
    flex-direction: row;
    border: 1px solid  var(--vueberg-toolbar-border-color);
    border-radius: var(--vueberg-border-radius);
    padding: var(--vueberg-toolbar-padding);
    box-shadow:  var(--vueberg-toolbar-shadow);

    &-transform-to{
      color: var(--vueberg-color-muted);
      font-size: 12px;
      // text-align: center;
      margin-bottom: 3px;
    }

    &-wrapper{
      transition: transform 0s, opacity 0.3s;
      // margin-left: var(--vueberg-block-padding-left)!important;
    }
    & > .vueberg-button-group:not(:last-child){
      margin-right: var(--vueberg-toolbar-gap);
      padding-right: var(--vueberg-toolbar-gap);
      border-right: 1px solid var(--vueberg-toolbar-separator-color);
    }

    &-order {
      margin-right: 5px;
  
      & .vueberg-button--toolbar-order {
        justify-content: center;

        width: 20px;
        cursor: pointer;
        height: 15px;
        padding: 0;
        background: none;
  
        &:first-child{
          padding-top: 2px;
        }
        &:last-child{
          padding-bottom: 2px;
          padding-left: 2px;
        }
  
        & svg{
          flex: 0 0 10px;
        }
    
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  &-slash-menu{
    background: var(--vueberg-slash-menu-background);
    border-radius: var(--vueberg-border-radius);
    border: 1px solid var(--vueberg-slash-menu-border-color);
    box-shadow:  var(--vueberg-slash-menu-shadow);
    max-width: var(--vueberg-slash-menu-max-width);
    min-width: var(--vueberg-slash-menu-min-width);
    padding: var(--vueberg-slash-menu-padding);

    &-show-all{
      border-top: 1px solid var(--vueberg-color-secondary);
      margin-top: 5px;
      padding: 5px 5px 0 5px;
      font-size: 12px;
      text-align: center;
      color: var(--vueberg-color-primary);
      cursor: pointer;
    }

    &-empty{
      font-size: 12px;
      padding: 10px 10px;
      line-height: 1;
      text-align: center;
      color: var(--vueberg-color-muted);
    }

    &-body{
      gap: 2px;
    }

    &-wrapper{
      margin-left: -13px!important;
    }
  }

  &-form{
    &-buttons{
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: flex-end;
      & > .vueberg-button{
        width: auto;
      }
    }

    &-item{
      margin-bottom: 10px;
      & label{
        font-size: 12px;
        color: var(--vueberg-color-muted);
        display: block;
        margin-bottom: 5px;
      }
      & small{
        color: var(--vueberg-color-muted);
      }
    }

    &-control{
      height: var(--vueberg-input-height);
      border-radius: var(--vueberg-border-radius);
      width: 100%;
      border: 1px solid var(--vueberg-input-border-color);
      padding: var(--vueberg-input-padding);
      outline: none;
      box-sizing: border-box;
      box-shadow: none;
    }
  }

  &-modal{
    background: var(--vueberg-modal-background);
    position: relative;
    border: 1px solid var(--vueberg-modal-border-color);
    z-index: 2;
    border-radius: var(--vueberg-border-radius);
    width: 100%;
    max-width: var(--vueberg-modal-max-width);
    outline: none;

    &-md{
      max-width: var(--vueberg-modal-max-width-md);
    }
    &-lg{
      max-width: var(--vueberg-modal-max-width-lg);
    }

    &-body{
      padding: var(--vueberg-modal-body-padding);
      overflow: auto;
      max-height: calc(100vh - 90px);
    }

    &-header{
      padding: var(--vueberg-modal-header-padding);
      border-bottom: 1px solid var(--vueberg-modal-header-border-bottom);
      display: flex;
      justify-content: space-between;
      max-height: 80px;
      align-items: center;

      &-close{
        color: var(--vueberg-color-muted);
        cursor: pointer;

        &:hover,
        &:focus,
        &:active{
          color: var(--vueberg-color-primary);
        }
      }

      &-title{
        font-size: var(--vueberg-modal-title-font-size);
      }
    }

    &-layout{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }

    &-backdrop{
      z-index: 1;
      background: var(--vueberg-modal-backdrop-background); 
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  & .modal-container{
    background-color: transparent!important;
    z-index: var(--vueberg-modal-z-index);
  }




  // default styles
  

  .prosemirror-dropcursor-block {
    animation: VueBergScaleIn 0.3s ease-out forwards;
    transform: scale(0);
    background-color: var(--vueberg-color-secondary);
    height: 4px;
    border-radius: var(--vueberg-border-radius);
    position: relative !important;
  }

  @keyframes VueBergScaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  blockquote .ProseMirror-trailingBreak {
    display: none;
  }

  .ProseMirror{
    & > *{
      max-width: var(--vueberg-block-default-width);
      margin-left: auto;
      margin-right: auto;
      &:not(.vueberg-customblock){
        padding-left: var(--vueberg-block-padding-left);
        padding-right: var(--vueberg-block-padding-right);
      }

      :first-child {
        margin-top: 0;
      }
    }
    &:focus-visible {
      outline: none;
    }
    
  

    &-gapcursor {
      margin-left: auto;
      margin-right: auto; 
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: block;
      position: relative !important;

      &:after {
        display: block;
        position: relative;
        border-left: 1px solid black;
        border-top: 0;
        height: 20px;
      }
    }

    & table p {
      margin: 0;
      & + p{
         margin-top: 8px;
      }
    }
    & li>p{
      display: inline;
    }
    
    & p.is-empty{
      &:before{
        content: attr(data-placeholder);
        float: left;
        color: var(--vueberg-placeholder-color);
        pointer-events: none;
        height: 0;
      }
    }
    & p.is-editor-empty{
      &:first-child{
        &::before {
          content: attr(data-placeholder);
          float: left;
          color: var(--vueberg-placeholder-color);
          pointer-events: none;
          height: 0;
        }
      }
    }
    &-selectednode {
      outline: 2px solid lightblue;
    }
  }
  
}


